<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} boot strap {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% comment %} medium style editor {% endcomment %}
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        {% comment %} custom css {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% comment %} fonts {% endcomment %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Russo+One&display=swap" rel="stylesheet">
    </head>
    <body class="loader">
        {% comment %} navbar {% endcomment %}
        <nav class="navbar navbar-expand-lg bg-light techfont">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">
                            My Blog
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="{% url 'about' %}">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="https://www.github.com">
                            Github
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="https://www.linkedin.com">
                            LinkedIn
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar right">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-item nav-link" href="{% url 'post_new' %}">
                                New Post
                            </a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{% url 'post_draft_list' %}">
                                Draft Page
                            </a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">
                                Log Out
                            </a>
                        </li>
                        <li>
                            <a >
                                Welcome: {{user.username}}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="nav-item nav-link" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true">Login</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            <div>
        </nav>

        {% comment %} content block {% endcomment %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>