{% extends 'blog/base.html' %}
{% block content %}
    {% for post in draft_post %}
        <div class="post">
            <p>created: {{post.created_date|date:'d-m-Y'}}</p>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{post.title}}
                </a>
            </h1>
            {% comment %} since medium stores the string as html. Safe converts string to html {% endcomment %}
            {{post.text|safe|truncatechars:200}}
        </div>
    {% endfor %}
{% endblock %}